<!DOCTYPE html>
<html lang="en">
<header>
    {% load staticfiles %}

    <a class="logo" href="{% url 'basic:index' %}"><img alt="Logo" src="{% static 'basic/freedoom.jpg' %}"/></a>
    <h1>Freedoom</h1>
    <h2>Welcome to Freedoom's clan site!  {{request.user}}</h2>
    <div class="topcorner">
        <nav>
            <ul>
                <li><a href="{% url 'login'%}">Log in</a></li>
                <li><a href="{% url 'login'%}">Register</a></li> 
                <li> <a href="{% url 'basic:logout'%}">Log out</a></li>
            </ul>
        </nav>
    </div>

</header>
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}Freedoom's clan site{% endblock %}</title>
</head>

<body>
     <div id="sidebar">
        {% block sidebar %}
            <nav>
                <ul>
                    <li> <a href="{% url 'basic:users' %}"> Members </a></li>
                    <li> <a href="{% url 'battles:battles' %}"> Battles </a></li>
                    <li> <a href="{% url 'basic:rules' %}"> Rules </a></li>
                    <li> <a href="{% url 'memberSchedule:schedule' %}"> Calendar </a></li>
                </ul>
            </nav>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

<style type="text/css">
 .topcorner{
   position:absolute;
   top:0;
   right:0;
  }
</style>