 {% if battles %}
    <ul>
    {% for batlle in battles %}
	<li><a href="{% url 'battles:clan_war_details' batlle.id %}">{{ batlle }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No battles are available.</p>
{% endif %}

<button id="add_clan_war">Add a new clan war</button>

<form action="{% url 'battles:add_clan_war_battle' %}" style="display:none" method="POST" id="new_clan_war_form">
{% csrf_token %}
{{clan_war_form.as_p}}
<input type="submit" value="Submit">
</form>	
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script>
$( "#add_clan_war" ).click(function() {
	$('#new_clan_war_form').show();
	$('#add_clan_war').hide();
})
</script>