<html>
<body>
	<form accept-charset="UTF-8" action="/registration" class="simple_form new_registration" id="new_registration" method="post">
		<div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" />
			<input name="authenticity_token" type="hidden" value="AuxSmyPcwptChVQmxl3BFyk2Hc16Wp/bD7G89HPxwMk=" />
		</div>

		<div class="input string required registration_fb_name">
			<label class="string required" for="registration_fb_name">Име във facebook:
				<abbr title="required">*</abbr>
			</label>
			<input aria-required="true" class="string required" id="registration_fb_name" name="registration[fb_name]" required="required" type="text" />
		</div>
		
		<div class="input email required registration_email"><label class="email required" for="registration_email">Електронна поща <abbr title="required">*</abbr></label><input aria-required="true" class="string email required" id="registration_email" name="registration[email]" required="required" type="email" /></div>
			<input name="commit" type="submit" value="Регистрирай ме" />
	</form>
</body>
</html>